<% if  user_signed_in? %>
  <div class="row">
    <div class="col-4">

    </div>
    <div class="col-8">
      <h1>Hey <%= current_user.name %> !</h1>
      <div>
        <ul class="nav">
          <li class="margin-right">
            <p> <strong><%= @images.count %></strong> pictures</p>
          </li>
          <li class="margin-right">
            <p><strong>12</strong> followers</p>
          </li>
          <li class="margin-right">
            <p><strong>20</strong> follows</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" id="images">
      <%= render @images %>
    </div>
  <%= will_paginate @images %>
  <% else %>
  <h1> Landing page!</h1>
<% end %>

