<div class="form-group">
  <%= form_for @image, builder: CustomFormBuilder do |f| %>
    <%= f.form_error %>
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
    <%= f.field_error :description %> <br>
    <%= f.label :picture %> <br>
    <%= f.file_field :picture %> <br>
    <%= f.submit 'Send', :class => 'btn btn-primary' %>
  <% end %>
</div>