<div class="container">
  <h2>Image</h2>
  <figure class="figure">
    <%= image_tag @image.picture.medium.url, class: 'figure-img img-fluid rounded'%> <br>
    <figcaption class="figure-caption text-right"><%= @image.description %></figcaption>
  </figure>


</div>
