<!DOCTYPE html>
<html>
  <head>
    <title>Community</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul class="nav justify-content-end">
      <%- if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Salir', destroy_user_session_path, method: :delete,
          class: "nav-link" %>
        </li>
        <% else %>
          <li>
            <%= link_to 'Iniciar', new_user_session_path, class: "nav-link" %>
          </li>
        <li>
          <%= link_to 'Registrarse', new_user_registration_path, class: "nav-link"  %>
        </li>
      <% end %>
    </ul>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
